/* based on the CherryStudio-Aero(https://github.com/hakadao/CherryStudio-Aero). */

body[theme-mode='light'] {
  --fill-1: hsl(20 10% 100% / 0.6);
  --fill-2: hsl(20 10% 50% / 0.1);
  --fill-3: hsl(20 10% 50% / 0.14);
  --color-white: var(--fill-1);
  --color-white-soft: var(--fill-2);
  --color-white-mute: var(--fill-3);
  --color-list-item: var(--fill-1);
  --color-list-item-hover: var(--fill-2);
  --numina-background-1: hsl(0 0% 100% / 0.2);
  --numina-background-2: hsl(0 0% 100% / 0.4);
  --numina-background-3: hsl(0 0% 100% / 0.6);
  --numina-background-solid: hsl(0 0% 100% / 1);
  --navbar-background: hsl(20 20% 94%);
  --navbar-background-mac: hsl(20 20% 94% / 0.2);
}

body[theme-mode='dark'] {
  --numina-background-1: rgba(22 22 22 / 0.2);
  --numina-background-2: rgba(22 22 22 / 0.4);
  --numina-background-3: rgba(22 22 22 / 0.6);
  --numina-background-solid: rgba(22 22 22 / 1);
}

:root {
  --fill-1: rgba(122 120 120 / 0.15);
  --fill-2: rgba(122 120 120 / 0.2);
  --fill-3: rgba(122 120 120 / 0.25);
  --color-black: var(--fill-1);
  --color-black-soft: var(--fill-2);
  --color-black-mute: var(--fill-3);
  --color-list-item: var(--fill-1);
  --color-list-item-hover: var(--fill-2);
  --navbar-height: 44px;
  --sidebar-width: 50px;
  --status-bar-height: 30px;
  --input-bar-height: 90px;
  --assistants-width: 225px;
  --topic-list-width: 300px;
  --settings-width: 225px;
  --scrollbar-width: 5px;
}

body[theme-mode='light'] *,
body[theme-mode='light'] [class^='ant'] {
  --ant-select-selector-bg: var(--numina-background-1);
  --ant-color-bg-container: var(--numina-background-1);
  --ant-segmented-item-selected-bg: var(--numina-background-3);
  --ant-button-default-bg: var(--numina-background-1);
  --ant-radio-button-bg: var(--numina-background-1);
}

body[theme-mode='dark'] *,
body[theme-mode='dark'] [class^='ant'] {
  --ant-select-selector-bg: var(--fill-1);
  --ant-color-bg-container: var(--fill-1);
  --ant-segmented-item-selected-bg: var(--fill-3);
  --ant-button-default-bg: var(--fill-1);
  --ant-radio-button-bg: var(--fill-1);
}

[navbar-position=left][theme-mode=light] {
  --color-list-item: var(--fill-1);
  --color-list-item-hover: var(--fill-2);
}

[navbar-position=left][theme-mode=dark] {
  --color-list-item: var(--fill-1);
  --color-list-item-hover: var(--fill-2);
}

[navbar-position="left"] .home-tabs {
  background-color: var(--numina-background-1);
}

[class^='PageContainer'] {
  background-color: var(--numina-background-solid) !important;
}

@media (prefers-color-scheme: dark) {
  body[theme-mode='light'] { background: hsla(0 0% 100% / 0.3); }
}

@media (prefers-color-scheme: light) {
  body[theme-mode='dark'] { background: rgba(0 0 0 / 0.2); }
}

[theme-mode='light'] #content-container,
[theme-mode='light'] .minapp-drawer .ant-drawer-body {
  background-color: var(--navbar-background-mac, var(--navbar-background));
}

[theme-mode='dark'] #content-container,
[theme-mode='dark'] .minapp-drawer .ant-drawer-body {
  background-color: rgba(22 22 22 / 0.05);
}

.home-tabs,
[class^='ProgramSection'],
[class^='IconSection'],
#messages,
[class^='SettingContainer'] {
  background-color: transparent;
}

[class^='TopicListItem'] .menu {
  background-color: transparent !important;
}

#inputbar,
.system-prompt,
[class^='CardContent'] {
  background-color: var(--fill-1);
}

[theme-mode='light'] #chat,
[theme-mode='light'] [class^='SettingGroup'],
[theme-mode='light'] [class^='MainContainer'],
[theme-mode='light'] [class^='AgentCardContainer'] {
  background-color: var(--numina-background-2);
}

[theme-mode='light'][class^='ProviderListContainer'] + [class^='SettingContainer'] {
  background: var(--numina-background-2) !important;
}

[theme-mode='dark'] #chat,
[theme-mode='dark'] [class^='SettingGroup'],
[theme-mode='dark'] [class^='MainContainer'],
[theme-mode='dark'] [class^='AgentCardContainer'] {
  background-color: var(--numina-background-1);
}

[theme-mode='dark'][class^='ProviderListContainer'] + [class^='SettingContainer'] {
  background: var(--numina-background-1) !important;
}

[theme-mode='light'] [class^='ant-modal'],
[theme-mode='light'] #root[style*='background: var(--color-white)'],
[theme-mode='light'] [class^='WindowFrame'],
[theme-mode='light'] .ant-tooltip-inner,
[theme-mode='light'] [class^='GroupItem'] {
  --color-white: #ffffff;
  --color-white-soft: rgba(0, 0, 0, 0.04);
  --color-white-mute: #eee;
  --color-background: var(--color-white);
  --color-background-soft: var(--color-white-soft);
  --color-background-mute: var(--color-white-mute);
  --modal-background: var(--color-white);
  --ant-modal-content-bg: var(--numina-background-solid);
}

[theme-mode='dark'] [class^='ant-modal'],
[theme-mode='dark'] [class^='WindowFrame'],
[theme-mode='dark'] .ant-tooltip-inner,
[theme-mode='dark'] [class^='GroupItem'] {
  --color-black: #181818;
  --color-black-soft: #222222;
  --color-black-mute: #333333;
  --color-background: var(--color-black);
  --color-background-soft: var(--color-black-soft);
  --color-background-mute: var(--color-black-mute);
  --modal-background: var(--color-black);
  --ant-modal-content-bg: var(--numina-background-solid);
}

.bubble .message-user,
[class^='ant'] {
  --color-black: #181818;
  --color-black-soft: #222222;
  --color-black-mute: #333333;
  --color-white: #ffffff;
  --color-white-soft: rgba(255, 255, 255, 0.8);
  --color-white-mute: rgba(255, 255, 255, 0.94);
  --chat-text-user: var(--color-black);
}

body[theme-mode='light'][os='windows'] {
  --color-background: hsla(0 0 100% / 1);
  --color-background-opacity: hsla(0 0 90% / 0.6);
}

body[theme-mode='dark'][os='windows'] {
  --color-background: hsla(0 0 8% / 1);
  --color-background-opacity: hsla(0 0 8% / 0.6);
}

[class^='QuickPanelBody'] {
  background-color: var(--numina-background-3) !important;
}

#root[style*='background: var(--color-background)'],
.ant-drawer-content[style*='background-color: var(--color-background)'],
[class^='SearchBarContainer'] {
  background: var(--numina-background-solid) !important;
}

.markdown [class^='Container'] [class^='Header']+[class^='Content'] {
  background: transparent;
}

div[class*="CodeHeader"] { display: none !important; }

.code-block {
  border-radius: 8px !important;
  overflow: hidden;
  margin-top: 0px !important;
}

.code-block .source-view,
.code-block .code-viewer,
.code-block pre {
  border-radius: 0px !important;
  border: none !important;
}

.katex,
mjx-container {
  vertical-align: middle;
  max-width: 100%;
  padding: 1px 2px;
  margin-top: -2px;
  margin-bottom: -2px;
}

.markdown li { margin-bottom: 0em; }

.markdown .markdown-alert,
.markdown blockquote {
  margin: 1em 0;
  padding: 0.5em 0.7em;
  background-color: var(--color-background-soft);
  border-left: 4px solid var(--color-primary);
  border-radius: 0 8px 8px 0;
  font-style: normal;
  position: relative;
}

.message-header .ant-avatar { border-radius: 50% !important; }
div[class*="StyledEmojiAvatar"] { border-radius: 50% !important; }
div[class*="MessageItemAvatar"] { border-radius: 50% !important; }
div[class*="NodeAvatar"] .ant-avatar { border-radius: 50% !important; }

.markdown p:has(+ ul),
.markdown p:has(+ ol) {
  margin-bottom: 0.1em;
}

.bubble:not(.multi-select-mode) .message-user .message-content-container {
  padding: 8px 12px 4px 12px !important;
  background-color: rgba(255, 255, 255, 1) !important;
  max-width: 75% !important;
  margin-right: 30px !important;
}

.bubble:not(.multi-select-mode) .message-thought-container {
  margin-bottom: 5px !important;
}

.bubble:not(.multi-select-mode) .message-assistant .message-content-container {
  border-radius: 10px !important;
  padding: 10px 10px !important;
  background-color: rgba(249, 250, 251, 1) !important;
  border: 1px solid rgba(249, 250, 251, 1) !important;
  max-width: 85% !important;
  margin-left: 30px !important;
}

.markdown strong,
.markdown b {
  font-weight: 500 !important;
  color: rgba(139, 0, 18, 1)
}

.markdown h1,
.markdown h2 {
  border-bottom: none !important;
  padding-bottom: 0 !important;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: 400 !important;
  line-height: 1.25 !important;
  margin: 1.2em 0 0.6em !important;
  letter-spacing: 0.2px;
  color: var(--color-text) !important;
}

.markdown h1 { font-size: 24px !important; }
.markdown h2 { font-size: 20px !important; }
.markdown h3 { font-size: 18px !important; }
.markdown h4 { font-size: 16px !important; }

.markdown h1 + p,
.markdown h2 + p,
.markdown h3 + p {
  margin-top: 0em !important;
}

.markdown h1 + ul,
.markdown h2 + ul,
.markdown h3 + ul {
  margin-top: 0em !important;
}

.markdown h1 + ol,
.markdown h2 + ol,
.markdown h3 + ol {
  margin-top: 0em !important;
}

.markdown thead th,
.markdown th {
  font-weight: 400 !important;
}

.markdown thead th {
  background: rgba(249, 251, 252, 1) !important;
}

div.ant-dropdown-trigger.cursor-pointer { background-color: #faf9fa !important; }
div.message-content-container { padding: 0px 46px 0px 46px; }
